---
import client from "@data/client.json";
import navData from "@data/navData";
import { getCurrentYear } from "@utils/utils";
import { getLocalePath, t } from "i18n:astro";

const currentYear = getCurrentYear();
---

<!-- ============================================ --><!--                   Footer                     --><!-- ============================================ -->

<footer id="cs-footer-308">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href={getLocalePath("/")}>
                <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/logo.svg" alt="logo" width="178" height="32">
            </a>
            <p class="cs-text">
                We’re more than just a digital agency — we’re the bridge between bold ideas and measurable results.
            </p>
            <div class="cs-social">
                <a class="cs-social-link" aria-label="visit google profile" href={ client.address.mapLink } target="_blank" rel="noopener">
                    <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/google.svg" alt="google" width="11" height="11">
                </a>
                <a class="cs-social-link" aria-label="visit facebook profile" href={ client.socials.facebook } target="_blank" rel="noopener">
                    <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/facebook.svg" alt="facebook" width="6" height="11">
                </a>
                <a class="cs-social-link" aria-label="visit instagram profile" href={ client.socials.instagram } target="_blank" rel="noopener">
                    <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/instagram.svg" alt="instagram" width="11" height="11">
                </a>
            </div>
        </div>
        <!-- Links -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">{t("footer.pages")}</span>
            </li>
            {
              navData.map((entry: any) => (
                <li class="cs-nav-li">
                  {entry.url && (<a href={getLocalePath(entry.url)} class="cs-nav-link">{t(entry.key)}</a>)}
                </li>
              ))
            }
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">{t("footer.services")}</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href={getLocalePath("services/static-websites-business/")}>Static Websites for Business</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href={getLocalePath("services/seo/")}>SEO</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href={getLocalePath("services/google-business-pages-management/")}>Google Business Pages Management</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href={getLocalePath("services/branding/")}>Branding</a>
            </li>
        </ul>
        <!-- Contact Info -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">{t("footer.contact")}</span>
            </li>
            <li class="cs-nav-li">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/phone-stroke.svg" alt="phone" width="24" height="24">
                <a class="cs-nav-link cs-phone" href={`tel:${client.phoneFormatted}`}>{ client.phoneForTel }</a>
            </li>
            <li class="cs-nav-li">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/email-stroke.svg" alt="email" width="24" height="24">
                <a class="cs-nav-link cs-email" href={`mailto:${client.email}` }>{ client.email }</a>
            </li>
            <li class="cs-nav-li">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/pin-stroke.svg" alt="pin" width="24" height="24">
                <a class="cs-nav-link cs-address" href={ client.address.mapLink } target="_blank" rel="noopener">
                    { client.address.lineOne }, <br>
                    { client.address.lineTwo },<br>  { client.address.city }, { client.address.state }
                    { client.address.zip }
                </a>
            </li>
        </ul>
    </div>
    <div class="cs-bottom">
        <span class="cs-copyright">© Copyright {currentYear} - <a class="cs-copyright-link" href={getLocalePath("/")}>{ client.name }</a></span>
    </div>
</footer>

<style lang="less">
  /* Mobile */
  @media only screen and (min-width: 0rem) {
    #cs-footer-308 {
        padding: 68px 16px 30px 16px;
        background-color: #1a1a1a;

        .cs-container {
            width: 100%;
            /* reset on desktop */
            max-width: calc(700 / 16 * 1rem);
            margin: auto;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: calc(40 / 16 * 1rem);
        }

        .cs-logo-group {
            /* takes up all the space, lets the other ul's wrap below it */
            width: 100%;
            position: relative;
        }

        .cs-logo {
            width: calc(178 / 16 * 1rem);
            height: auto;
            display: block;
            margin-bottom: calc(24 / 16 * 1rem);
        }

         .cs-social {
            display: inline-flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: calc(12 / 16 * 1rem);
            top: 0;
            right: 0;
            margin-top: 10px;
        }

        .cs-social-link {
            width: calc(24 / 16 * 1.3rem);
            height: calc(24 / 16 * 1.3rem);
            background-color: #4e4b66;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 1;
            transition: transform 0.3s, background-color 0.3s;

            &:hover {
                background-color: var(--primary);
                transform: translateY(-0.1875rem);
            }
        }

        .cs-social-img {
            height: calc(13 / 16 * 1rem);
            width: auto;
            display: block;
        }


        .cs-logo-img {
            width: 100%;
            height: auto;

            &.dark {
                display: none;
            }
        } /* Navigation Links */
        .cs-nav {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: calc(12 / 16 * 1rem);
        }

        .cs-nav-li {
            list-style: none;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            a{
                text-decoration: none;
            }
        }

        .cs-header {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.2em;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: calc(12 / 16 * 1rem);
            color: var(--primary);
            position: relative;
            display: block;
        }

        .cs-nav-link {
            font-size: calc(16 / 16 * 1rem);
            text-decoration: none;
            line-height: 1.5em;
            color: var(--bodyTextColorWhite);
            position: relative;
            display: inline-block;
            transition: color 0.3s;

            &:before {
                /* underline */
                content: "";
                width: 0%;
                height: calc(2 / 16 * 1rem);
                background: currentColor;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: calc(-2 / 16 * 1rem);
                left: 0;
                transition: width 0.3s;
            }

            &:hover {
                color: var(--primary);
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-icon {
            width: calc(24 / 16 * 1rem);
            height: auto;
            margin-right: calc(12 / 16 * 1rem);
        }

        .cs-bottom {
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            margin-top: calc(32 / 16 * 1rem);
            padding-top: calc(24 / 16 * 1rem);
            border-top: 1px solid #484848;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-copyright,
        .cs-copyright-link {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            color: var(--bodyTextColorWhite);
        }

        .cs-copyright-link {
            text-decoration: none;
            transition: color 0.3s;
            &:hover {
                color: var(--primary);
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cs-footer-308 {
        .cs-container {
            row-gap: 0;
            flex-direction: row;
            justify-content: space-between;
            row-gap: calc(40 / 16 * 1rem);
        }

        .cs-nav {
            width: auto;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-footer-308 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-wrap: nowrap;
            /* align everything to the right */
            justify-content: flex-end;
            column-gap: calc(84 / 16 * 1rem);
        }

        .cs-logo-group {
            width: 30%;
            max-width: calc(387 / 16 * 1rem);
            /* pushes away from everything to the right */
            margin-right: auto;
        }

         .cs-social {
            flex-direction: row;
            position: relative;
            top: auto;
            right: auto;
            margin-top: 10px;
        }

        .cs-text {
            width: 100%;
            color: var(--bodyTextColorWhite);
        }
    }
}
</style>